VITE_SUPABASE_URL=https://oegvyycfynqpotpkdbke.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9lZ3Z5eWNmeW5xcG90cGtkYmtlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQ4Mjc1MDYsImV4cCI6MjA2MDQwMzUwNn0.yDHIO9KvcvA9REbSCc2oAXY5aNmLvcsnCUrNNatIgDo